body {
    background: #00BFFF;
    height: 396px;
}


.segundatela {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    height: 237px;
    background: white;
}

.conteudo {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 250px;
    margin:  50px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    top: -14px;
    left: 240px;
    height: 109px;
    width: 794px;
}